<table>
{{#each streets}}
<tr>
	<td>
		{{name}}
	</td>
	<td>
		<a href="/meters/{{id}}">Meters in street</a>
	</td>
</tr>
{{/each}}
</table>




{{#each meters}}
<p>{{this.street_number}}</p>

<p><a href = "/meter/use/{{this.id}}">{{this.name}}</a></p>
<p>{{this.balance}}</p>
{{/each}}